<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>ShortcutBuilder</string>
  <key>CFBundleDisplayName</key>
  <string>ShortcutBuilder</string>
  <key>CFBundleIdentifier</key>
  <string>fr.b519hs.shortcutbuilder</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CFBundleExecutable</key>
  <string>ShortcutBuilder</string>
</dict>
</plist>
